<form th:method="POST" th:action="@{delete}">
    <div class="form-group col-lg-6 mx-auto  text-center">
        <label for="idEdit" class="form-control-label">Id: </label>
        <input class="form-control w-1 p-1 h-25" type="text" name="id" readonly
               id="idEdit"/>
    </div>
    <div class="form-group col-lg-6 mx-auto  text-center">
        <label for="firstNameEdit" class="form-control-label">First Name: </label>
        <input class="form-control w-1 p-1 h-25" type="text" name="firstName" readonly
               id="firstNameEdit"/>
    </div>
    <br/>
    <div class="form-group col-lg-6 mx-auto  text-center">
        <label for="lastNameEdit" class="form-control-label">Last Name: </label>
        <input class="form-control w-1 p-1 h-25" type="text" name="lastName" readonly
               id="lastNameEdit"/>
    </div>
    <br/>
    <div class="form-group col-lg-6 mx-auto  text-center">
        <label for="ageEdit" class="form-control-label">Age: </label>
        <input class="form-control w-1 p-1 h-25" type="number" name="age" readonly
               id="ageEdit"/>
    </div>
    <br/>
    <div class="form-group col-lg-6 mx-auto  text-center">
        <label for="emailEdit" class="form-control-label">Email: </label>
        <input class="form-control w-1 p-1 h-25" type="email" name="email" readonly
               id="emailEdit"/>
    </div>
    <br/>
    <div class="form-group col-lg-6 mx-auto  text-center overflow-scroll">
        <label for="select" class="form-control-label">Role: </label>
        <select class="form-select" multiple id="select" name="roleId" size="2" disabled>
            <option th:each="role : ${role}" th:value="${role.id}"
                    th:text="${role.name}"></option>
        </select>
    </div>
    <br/>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close
        </button>
        <button type="submit" class="btn btn-danger">Delete
        </button>
    </div>
</form>