<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark w-1 p-1 h-25">
    <div class="container">
        <p class="navbar-brand" th:text="${user.email} + ' with roles: ' + ${user.roleUser}"></p>
        <a href="/logout" class="btn btn-dark">Logout</a>
    </div>
</nav>
<div class="row">
    <div class="col-lg-2 col-md-6 g-0 align-items-start">
        <div class="nav flex-column nav-pills my-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active text-start" id="v-pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-home"
                    type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin
            </button>
            <button class="nav-link text-start" id="v-pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#v-pills-profile"
                    type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User
            </button>
        </div>
    </div>
    <div class="col-lg-10 col-md-6 bg-light ">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h1 class="mx-3 my-3">Admin panel</h1>

                <div class="border-white">
                    <ul class="nav nav-tabs mx-3" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="userTable" data-bs-toggle="tab" data-bs-target="#home"
                                    type="button"
                                    role="tab" aria-controls="home" aria-selected="true">Users table
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link addNewUser" id="profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#profile"
                                    type="button"
                                    role="tab" aria-controls="profile" aria-selected="false">New User
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content mx-2" id="myTabContent">
                        <div class="tab-pane fade show active bg-white mx-2" id="home" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="border bg-light">
                                <h4 style="text-align: left; margin: 1%">All users</h4>
                            </div>
                            <div class="m-3">
                                <table class="table table-striped usersTable" style="background-color: white">
                                    <thead>
                                    <tr>
                                        <th class="mx-4" scope="col">ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="editForm">
                            <div class="modal fade hideModal" id="editModal" tabindex="-1"
                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div th:replace="fragments/modal-edit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="deleteForm">
                            <div class="modal fade hideModal2" id="deleteModal" tabindex="-1"
                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div th:replace="fragments/modal-delete">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel"
                             aria-labelledby="profile-tab">
                            <div class="border-dark">
                                <div th:replace="fragments/form-new-user">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                 aria-labelledby="v-pills-profile-tab">
                <h1 class="mx-3 my-3">User information-border</h1>
                <div class="border-white">
                    <div th:replace="fragments/admin-profile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Отображение списка пользователей в таблице
    $(document).ready(getAllUsers());

    function getAllUsers() {
        $('#table').empty();
        $.ajax({
            type: 'POST',
            url: '/admin/page/users',
            success: function (data) {
                console.log(data);
                $.each(data, function (i, user) {
                    $("#table").append($('<tr>').append(
                        $('<td>').append($('<span>')).text(user.id),
                        $('<td>').append($('<span>')).text(user.firstName),
                        $('<td>').append($('<span>')).text(user.lastName),
                        $('<td>').append($('<span>')).text(user.age),
                        $('<td>').append($('<span>')).text(user.email),
                        $('<td>').append($('<span>')).text(user.roleUser),
                        $('<td>').append($('<button>').text('Edit').attr({
                            "type": "button",
                            "class": "btn btn-sm btn-info editBtn",
                            "data-bs-toggle": "modal",
                            "data-bs-target": "#editModal",
                        }).data("user", user)),
                        $('<td>').append($('<button>').text('Delete').attr({
                            "type": "button",
                            "class": "btn btn-sm btn-danger deleteBtn",
                            "data-bs-toggle": "modal",
                            "data-bs-target": "#deleteModal",
                        })
                            .data("user", user))
                        )
                    );
                });
            }
        });
    }

    // Добавление нового юзера
    $('.userAdd').on('click', function () {
        $('#userTable').trigger('click');

        $.ajax({
            type: 'POST',
            url: '/admin/page/add',
            data: $(".formAddUser").serialize(),
            success: function () {
                getAllUsers();
                $('.formAddUser')[0].reset()
            }
        })

    });

    // Селектор с ролями
    $.ajax({
        type: 'POST',
        url: '/admin/page/roles',
        success: function (data) {
            $.each(data, function (i, role) {
                $('.roles').append($('<option>').text(role.name).attr({
                        "value": role.id,
                    })
                )
            })
        }
    })

   // Модальное окно обновления
    $(document).on("click", ".editBtn", function () {
        let user = $(this).data('user');
        $('#idEdit').val(user.id);
        $('#firstNameEdit').val(user.firstName);
        $('#lastNameEdit').val(user.lastName);
        $('#ageEdit').val(user.age);
        $('#emailEdit').val(user.email);

        $(document).on("click", ".editUser", function () {
            $.ajax({
                type: 'POST',
                url: '/admin/page/edit',
                data: $(".formEditUser").serialize(),
                success: function () {
                    $('.hideModal').trigger('click');
                    $('.formEditUser')[0].reset();
                    getAllUsers();
                }
            });

        });
    })

            //Модальное окно удаления пользователя
            $(document).on("click", ".deleteBtn", function () {
                let user = $(this).data('user');
                $('#idDelete').val(user.id);
                $('#firstNameDelete').val(user.firstName);
                $('#lastNameDelete').val(user.lastName);
                $('#ageDelete').val(user.age);
                $('#emailDelete').val(user.email);

                $(document).on("click", ".deleteUser", function () {
                    $.ajax({
                        type: 'POST',
                        url: '/admin/page/delete',
                        data: $('#idDelete').serialize(),
                        success: function () {
                            $('.hideModal2').trigger('click');
                            getAllUsers();
                        }
                    });
                });
            })

</script>
</body>
</html>
