<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH"  th:action="@{/admin/update/{id}(id=${user.getId()})}" th:object="${user}">
  <label for="firstName">First Name: </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br/>
  <label for="lastName">Last Name: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <label for="age">Age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <label for="email">Email: </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>
  <label for="password">Password: </label>
  <input type="text" th:field="*{password}" id="password"/>
  <br/>
    <form th:action="@{/admin/update/{id}(id=${user.getId()})}" th:method="PATCH">
      <tr th:each="role, state : ${role}"
          class="row" th:classappend="${state.odd}">
        <label th:text="${role.name}" for="roleId"></label>
        <input type="checkbox" id="roleId" name="roleId" th:value="${role.id}"/>
        <br/>
      </tr>
      <input type="submit" value="update">
</form>
</form>
</body>
</html>