<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User information</title>
  <style>
    table th, table td {padding: 32px;}
    {color: black;}
  </style>
</head>

<body>
<h1>User information</h1>
<table border="1">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>age</th>
    <th>salary</th>
    <th>password</th>
  </tr>
  <tr th:each="users, state : ${user}"
      class="row" th:classappend="${state.odd}">
    <td th:utext="${users.id}">ID</td>
    <td th:utext="${users.name}">Name</td>
    <td th:utext="${users.age}">Age</td>
    <td th:utext="${users.salary}">Salary</td>
    <td th:utext="${users.password}">Password</td>
  </tr>
</table>
<br/>
<a href="/" th:href="@{/}">Return to the homepage</a>
</body>
</html>